# Python
__pycache__/
*.pyc
kokpit-env/
*.db

# Node
frontend/node_modules/
frontend/dist/

# Rust/Tauri
src-tauri/target/

# macOS
.DS_Store
src-tauri/binaries/
# PyInstaller
backend/dist/
backend/build/
backend/*.spec
**/__pycache__/
*.pyc
